label{
    margin-left: 25px !important;
}
input{
    margin-top: 0 !important;
}
.bomba{
    margin-top: 0px !important;
}
.informacoes{
    padding-top: 15px;
    height: 70px !important;
}
.car-vermelho{
    margin-top: 0 !important;
}
.car-amarelo{
    margin-top: 0 !important;
}
