*{margin: 0px; padding: 0px}
.container{
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding-top: 20px;
    background-color: #FF5252;
    font-family: Roboto;
}
.bomba{
    width: 170px;
    height: 146px;
    margin-top: 40px;
    margin-left: 150px;
}
label{  
    margin-left: 20px;
}
input{
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
    float: left;
}
.box-left{
    width: 50%;
    height: 300px;
    float: left;
}
.box-right{
    width: 50%; float: left;
    height: 300px;
    height: auto; float: left;
}
.input-small{
    width: 135px;
    float: left;
    margin-bottom: 10px !important;
    margin-bottom: 0;
}
.p-cima{ padding-top: -10px; margin-left: 20px;}
.informacoes{
    padding: 10px;
    height: 25px !important;
}
